---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: patrickcrocker/lotc
    tag: '1.0.0'

params:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  AWS_DEFAULT_REGION:
  AWS_KEY_NAME:
  AWS_SSL_CERTIFICATE_ARN:
  RDS_DBNAME:
  RDS_USERNAME:
  RDS_PASSWORD:

inputs:
- name: pipeline
- name: cloudformation

run:
  path: pipeline/tasks/create-stack.sh
